<h1>Edit your user profile</h1>

<!--%= render 'form' %-->
<div>
<%= form_for(:user, :url => {:action => 'update', :id => @user.id}) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> 
      prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
  <legend>Edit User Details</legend>
  
  <div>
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, :size => 40 %>
  </div>
    <div>
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, :size => 40 %>
  </div>
  <div>
    <%= f.label :email %><br />
    <%= f.text_field :email, :size => 40 %>
  </div>
  <div>
    <%= f.label :state %><br />
    <%= f.text_field :state, :size => 2 %>
  </div>
  <div>
    <%= f.label :age %><br />
    <%= f.text_field :age, :size => 3 %>
  </div>
  <div>
    <%= f.label :interest %><br />
    <%= f.text_field :interest, :size => 40 %>
  </div>
  <div>
    <%= f.label :affiliation %><br />
    <%= f.text_field :affiliation, :size => 40 %>
  </div>
  <div>
    <%= f.submit %>
  </div>
  
    </fieldset>
<% end %>

</div>

<!--%= link_to 'Show', @user %-->
<%= link_to 'Back', {:controller => 'users', :action => 'portfolio', :user => @user} %> | <%= link_to 'Logout', {:controller => 'admin', :action => 'logout'} %>
