<%= form_tag(:action => 'create') do %>
  <div>
      <%= label_tag(:title) %>
      <br/>
      <%= text_field_tag(:title) %>
  </div>
  <div>
      <%= label_tag(:description) %>
      <br/>
      <%= text_area_tag(:description, nil, :size => "100x25") %>
  </div>
  <div>
      <%= label_tag(:criteria) %>
      <br/>
      <%= text_field_tag(:criteria) %>
  </div>
  <div>
      <%= label_tag(:closedate) %>
      <br/>
      <%= datetime_select('seldate', 'closewhen', :order => [:month, :day, :year],:start_year => Date.today.year, :end_year => Date.today.year + 5, :minute_step => 60)%>
  </div>
  
  <div class="actions">
    <!--%= f.submit %-->
	<%= submit_tag("Create petition!") %>
  </div>
  
  
<% end %>
