<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @login.name %>
</p>

<p>
  <b>Hashed password:</b>
  <%= @login.hashed_password %>
</p>

<p>
  <b>Salt:</b>
  <%= @login.salt %>
</p>


<%= link_to 'Edit', edit_login_path(@login) %> |
<%= link_to 'Back', logins_path %>
